.headerItem {
  display: inline-flex;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  color:rgb(70, 70, 70)
}

.headerItem:hover {
  text-decoration: underline;
  color: rgb(70, 70, 70);
}

.headerNav {
  display: flex;
  justify-content: flex-start;
  margin: 2rem;
}