.headerItem {
  display: inline-flex;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
}

.headerItem:visited {
  color: rgb(70, 70, 70);
}

.headerItem:hover {
  text-decoration: underline;
}

.headerNav {
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
}