* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  color: #464646;
}

h2 {
  color: #464646;
}

h3 {
  color: #464646;
}

p {
  color: #464646;
}

body {
  color: #464646;
  line-height: 1.5rem;
}

caption {
  font-size: 0.9rem;
  font-weight: 600;
  color: #808080;
}