* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  background-color: #1f1f1f;
}

h1 {
  color: #ebebeb;
  font-size: 2rem;
}

h2 {
  color: #ebebeb;
  font-size: 1.5rem;
}

h3 {
  color: #ebebeb;
  font-size: 1.2rem;
}

p {
  color: #ebebeb;
}

body {
  color: #ebebeb;
  font-size: 1rem;
}

caption {
  font-size: 0.8rem;
  color: #b6b6b6;
}