.rootContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.articleContainer {
    display: flex;
    flex-direction: column;
}

.outerContainer {
    width: 90%;
}

@media screen and (min-width: 500px) {
    .outerContainer {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) {
    .outerContainer {
        width: 55%;
    }
}

@media only screen and (min-width: 992px) {
    .outerContainer {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .outerContainer {
        width: 45%;
    }
}