.postItemContainer {
  display: flex;
  flex-direction: column;
  padding: 1.2%;
  width: 60%;
  border-radius: 4px;
  transition: background-color .2s ease-in-out;
}

.postItemContainer:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.postItemHeading {
  font-size: 1.5rem;
  text-decoration: none;
}

.postItemDate {
  color: rgb(165, 165, 165);
}